
body{
    background-color:rgb(173, 202, 230);
    font-family:Poppins;
    font-weight:600;
}

*{
    padding:0;
    margin:0;
}


.notes{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
    gap:2rem;
    margin:2rem;
}



.addNote{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:60%;
    background:#fff;
    padding:4rem 2rem;
    border-radius:0.2rem;
    
}

.newNote{
    width:70%;
    background:#fff;
    padding:1rem;
    border-radius:0.2rem;
   
}

.title{
    font-family:inherit;
    font-size:20px;
    font-weight:600;
    width:100%;
    margin-bottom:0.5rem;
    border:none;
    outline:none;
}

.textarea{
    font-family:inherit;
    font-size:16px;
    border:none;
    outline:none;
    resize:none;
    width:100%;
    min-height:200px;
    
}

.hr{
    margin:0.4rem 0;
}

.date{
    font-family:inherit;
    color:gray;
    font-size:15px;
    border:none;
    outline:none;
    margin-top:0.5rem;
    color:#555;
    font-weight:500;
}
#add{
    font-size:30px;
    background:#fff;
    display:block;
    width:50px;
    height:50px;
    border-radius: 50%;
    border: 2px dotted blue;
    font-family:inherit;
    font-weight:500;
    
}